*{
  
  

  margin: 0;
}
.alu {
  
  
  
  text-align:right;
  text-decoration:none;
  
  
}
.alu a{
  text-decoration: none;
  
  
}

.alu2{
  text-align:right;
}
.alu2 a{
  text-decoration:none;
   background-color: none;
  font-size: 15;
  
}
body{
  background-image: url(Free-Website-BAckgrounds1.jpg)
  
  
  

  
  
  
}